<div class="container-full">
	<div class="row">
		<div class="large-top-margin col-md-offset-2 col-md-8">
			<p class="text-right zero-bottom-margin title">tl;dr</p>
			<p class="minus-top-margin medium-bottom-margin text-right summary-text">enter url, and click summarize.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<form name="urlForm" class="form-inline ng-pristine ng-valid" role="form" ng-submit="submitForm(urlForm.$valid)" novalidate>
				<div class="col-md-10">
					<div class="form-group full-width" ng-class="{ 'has-error' : urlForm.url.$invalid && !urlForm.url.$pristine && submitted }">
						<input name="url" type="url" class="form-control" ng-model="url" required>
					</div>
				</div>
				<div class="col-md-2">
					<button type="submit" class="btn btn-default full-width" ng-disabled="urlForm.$invalid">summarize</button>
				</div>
			</form>
		</div>
	</div>
	<div id="summary-section">
		<div class="row">
			<div class="medium-top-margin col-md-offset-2 col-md-8">
				<div class="section-header">summary</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<p class="summary-heading text-right">
					Lorem Ipsum
				</p>
				<p class="text-right summary-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, deleniti, quis, hic autem eius saepe dolore eum accusantium nostrum pariatur labore officiis aliquam quas deserunt quo consequatur itaque ea animi!
				</p>
			</div>
		</div>
	</div>
</div>
